/* ==========================================================================
   cards / carte texte générale
   ========================================================================== */

.text_card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    position: relative;

    padding: 10px;
    gap: 10px;

    background: var(--color-primary);

    .line {
        height: 2px;
        width: 100%;

        background: var(--color-white);

        z-index: 10;
    }

    h1 {
        z-index: 10;
    }

    p {
        z-index: 10;
    }

    .card_pattern {
        position: absolute;
        z-index: 0;
    }

    .logiciels {
        display: flex;
        justify-content: center;
        align-items: center;

        gap: 10px;
        margin-bottom: 10px;
    }
}
