/* ==========================================================================
   footer / 
   ========================================================================== */

.footer {
    background-color: var(--color-black);

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: var(--grid-gap);
        padding-top: 24px;
        padding-bottom: 24px;

        .logo {
            p {
                color: var(--color-white);
            }

            &:hover {
                p {
                    color: var(--color-primary);
                }
            }
        }

        span {
            height: 2px;
            width: 100%;
            background-color: rgba($color: #fff, $alpha: 0.2);
        }

        nav {
            ul {
                display: flex;
                justify-content: center;
                align-items: center;

                gap: 20px;
                padding: 0;
                margin: 0;

                li {
                    list-style-type: none;

                    a {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        background-color: rgba($color: #fff, $alpha: 0.1);
                        border-radius: 100%;

                        padding: 10px;

                        svg {
                            fill: var(--color-white);
                        }

                        &:hover {
                            background-color: var(--color-primary);
                        }
                    }
                }
            }
        }

        .copyright {
            color: var(--color-white);
            font-size: 18px;

            text-align: center;
        }
    }
}
