/* ==========================================================================
   hub / 
   ========================================================================== */

.hub {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 24px;

        position: relative;
    }
}

.hub__media {
    position: absolute;
    z-index: -1;

    right: 0;
    top: 0;

    svg {
        position: absolute;

        height: 400px;
        width: 400px;
    }
}

.hub__content {
    grid-column: 1 / span 8;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 28px;

    .nav__hub {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 28px;

        .hub__links {
            &:nth-child(1) {
                transform: translateX(25px);
            }

            &:nth-child(3) {
                transform: translateX(-25px);
            }
        }
    }
}
