/* ==========================================================================
   TYPOGRAPHY / ELEMENT
   ========================================================================== */

h1,
h2,
h3,
p {
    font-family: var(--font-primary);
    line-height: 1.25;

    color: var(--color-white);

    margin: 0;
}

.display {
    font-size: var(--font-size-display);
    font-weight: 900;
}

.display-light {
    font-size: var(--font-size-display);
    font-weight: 200;
}

h2 {
    font-size: var(--font-size-h2);
    font-weight: 900;
}

h3 {
    font-size: var(--font-size-h3);
    font-weight: 700;
}

p {
    font-size: var(--font-size-content);
}

.p__bold {
    font-size: var(--font-size-content);
    font-weight: 700;
    text-decoration: underline;
}
