/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-neutral: #252525;

    // Couleurs du projet
    --color-primary: #070706;
    --color-secondary: #bf263b;

    --color-bg-primary: var(--color-neutral);
    --color-bg-secondary: rgba(7, 7, 6, 32%);
}
