/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Outfit', sans-serif;
    --font-secondary: 'Courier Prime', monospace;

    --font-size-content: 1.8rem;

    /// Grosseur des textes
    --font-size-display: #{typo(36px, 84px)};
    --font-size-h1: #{typo(48px)};
    --font-size-h2: #{typo(32px, 36px)};
    --font-size-h3: #{typo(20px, 28px)};
}
