{% include '_partials/_header.html' %}

<section class="hub">
    <div class="wrapper">
        <div class="hub__content">
            <div class="text__presentation">
                <p class="profile">CRÉATION MÉDIA 3D - DEV+DESIGN UI</p>
                <h1 class="display">Marc-Antoine Roy</h1>
                <span></span>
                <p>Passioné de 3D et jeux vidéo, j’apporte ma créativité et ma passion dans mon travail.</p>
            </div>
            <nav class="nav__hub">
                <ul>
                    <li><a href="#" class="hub__links">À propos</a></li>
                    <li><a href="#" class="hub__links">Projets</a></li>
                    <li><a href="#" class="hub__links">Vidéo de présentation</a></li>
                </ul>
            </nav>
        </div>
        <div class="hub__media">
            <img src="assets/images/hub-pic.png" alt="hub picture" />

            <svg class="icon">
                <use href="#icon-pattern1-neutre"></use>
            </svg>
        </div>
    </div>
</section>

<section class="a-propos">
    <div class="text__presentation">
        <h1 class="display-light">
            À PROPOS
            <span class="h2">de moi</span>
        </h1>
        <p>
            J’ai 19 ans et je suis un finissant en Technique d’Intégration Multimédia au Cégep Édouard-Montpetit. Je suis passionné par le skateboard, les jeux
            vidéo et surtout par la
            <span class="p__bold">modélisation</span>
            et
            <span class="p__bold">l’animation 3D.</span>

            <br />
            Ma passion pour différents médias entre autres les jeux vidéo inspire beaucoup mon ambition pour l’animation 3D.
        </p>
    </div>
    <div class="competences">
        <h1 class="display-light">
            <span class="h2">mes</span>
            COMPÉTENCES
        </h1>
    </div>
    <div class="outils">
        <h1 class="display-light">
            OUTILS
            <span class="h2">mes</span>
        </h1>

        <div class="info__cards">
            <div class="info__card">
                <h2></h2>
                <span></span>
            </div>
            <div class="info__card">
                <h2></h2>
                <span></span>
            </div>
        </div>
    </div>
    <div class="interets">
        <h1 class="display-light">
            INTÉRÊTS
            <span class="h2">mes</span>
        </h1>
    </div>
    <div class="stage">
        <h1 class="display-light">STAGE RECHERCHÉ</h1>

        <div class="text__presentation">
            <span></span>
            <p>
                Je suis à la recherche d’un stage en
                <span class="p__bold">Animation</span>
                ou
                <span class="p__bold">Modélisation 3D</span>
                ainsi qu’en
                <span class="p__bold">design UI/UX</span>
                ou
                <span class="p__bold">production interactive</span>
                .
                <br />
                Je suis interessé
                <span class="p__bold">d’apprendre</span>
                de
                <span class="p__bold">nouvelles techniques</span>
                en liens avec la
                <span class="p__bold">Modélisation</span>
                et
                <span class="p__bold">l’Animation 3D</span>
                pour travailler de façon plus
                <span class="p__bold">efficace et rapide</span>
                .
            </p>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
