{% include '_partials/_header.html' %}
<img src="assets/icons/background.svg" alt="" class="background" />
<!-- hub ------------------------------------------------------------------------------------- -->
<section class="hub section" id="hub">
    <div class="wrapper">
        <div class="hub__content">
            <div class="text_card">
                <p class="profile">CRÉATION MÉDIA 3D - DEV+DESIGN UI</p>
                <h1 class="display">Marc-Antoine Roy</h1>
                <span class="line"></span>
                <p>Passioné de 3D et jeux vidéo, j’apporte ma créativité et ma passion dans mon travail.</p>
            </div>
            <div class="nav__hub">
                <a href="#a_propos" class="hub__links button">
                    <span class="line"></span>
                    <h3>À propos</h3>
                </a>
                <a href="#projets" class="hub__links button">
                    <span class="line"></span>
                    <h3>Projets</h3>
                </a>
                <a href="#" class="hub__links button">
                    <span class="line"></span>
                    <h3>Vidéo de présentation</h3>
                </a>
            </div>
        </div>
        <div class="hub__media">
            <img src="assets/images/hub-pic.png" alt="hub picture" />
        </div>
    </div>
</section>

<!-- à propos ------------------------------------------------------------------------------------- -->
{% include '_partials/_a-propos.html' %}

<!-- projets ------------------------------------------------------------------------------------- -->
{% include '_partials/_projets.html' %}

<!-- footer ------------------------------------------------------------------------------------- -->
{% include '_partials/_footer.html' %}
