{% include '_partials/_header.html' %}

<!-- hub ------------------------------------------------------------------------------------- -->
<section class="hub section" id="hub">
    <div class="wrapper">
        <div class="hub__content">
            <div class="text_card">
                <p class="profile">CRÉATION MÉDIA 3D - DEV+DESIGN UI</p>
                <h1 class="display">Marc-Antoine Roy</h1>
                <span></span>
                <p>Passioné de 3D et jeux vidéo, j’apporte ma créativité et ma passion dans mon travail.</p>
            </div>
            <nav class="nav__hub">
                <ul>
                    <li><a href="#a_propos" class="hub__links button">À propos</a></li>
                    <li><a href="#projets" class="hub__links button">Projets</a></li>
                    <li><a href="#" class="hub__links button">Vidéo de présentation</a></li>
                </ul>
            </nav>
        </div>
        <div class="hub__media">
            <img src="assets/images/hub-pic.png" alt="hub picture" />

            <svg class="icon">
                <use href="#icon-pattern1-neutre"></use>
            </svg>
        </div>
    </div>
</section>

<!-- à propos ------------------------------------------------------------------------------------- -->
<section class="a_propos section" id="a_propos">
    <div class="text_card">
        <h1 class="display-light uppercase">
            À PROPOS
            <span class="h2">de moi</span>
        </h1>
        <p>
            J’ai 19 ans et je suis un finissant en Technique d’Intégration Multimédia au Cégep Édouard-Montpetit. Je suis passionné par le skateboard, les jeux
            vidéo et surtout par la
            <span class="p__bold">modélisation</span>
            et
            <span class="p__bold">l’animation 3D.</span>

            <br />
            Ma passion pour différents médias entre autres les jeux vidéo inspire beaucoup mon ambition pour l’animation 3D.
        </p>
    </div>
    <div class="competences">
        <h1 class="display-light">
            <span class="h2">mes</span>
            COMPÉTENCES
        </h1>
        <div class="info__cards">
            <div class="info__card">
                <h2 class="uppercase">TECHNIQUES</h2>
                <span></span>
                <li>
                    <p>Modélisation 3D</p>
                </li>
                <li>
                    <p>Animation 3D</p>
                </li>
                <li>
                    <p>Design UI de jeux</p>
                </li>
            </div>
            <div class="info__card">
                <h2 class="uppercase">PROFESSIONELLES</h2>
                <span></span>
                <li>
                    <p>Créativité</p>
                </li>
                <li>
                    <p>Autonomie</p>
                </li>
                <li>
                    <p>Sens du détail</p>
                </li>
            </div>
        </div>
    </div>
    <div class="outils">
        <h1 class="display-light">
            OUTILS
            <span class="h2">mes</span>
        </h1>

        <div class="info__cards">
            <div class="info__card">
                <h2 class="uppercase">LANGUAGES</h2>
                <span></span>
                <li>
                    <svg class="icon icon--xl">
                        <use href="#icon-css"></use>
                    </svg>
                </li>
                <li>
                    <svg class="icon icon--xl">
                        <use href="#icon-html5"></use>
                    </svg>
                </li>
            </div>
            <div class="info__card">
                <h2 class="uppercase">LOGICIELS</h2>
                <span></span>
                <li>
                    <svg class="icon icon--xl">
                        <use href="#icon-ae"></use>
                    </svg>
                </li>
                <li>
                    <svg class="icon icon--xl">
                        <use href="#icon-touch"></use>
                    </svg>
                </li>
                <li>
                    <svg class="icon icon--xl">
                        <use href="#icon-blender"></use>
                    </svg>
                </li>
                <li>
                    <svg class="icon">
                        <use href="#icon-figma"></use>
                    </svg>
                </li>
            </div>
        </div>
    </div>
    <div class="interets">
        <h1 class="display-light">
            INTÉRÊTS
            <span class="h2">mes</span>
        </h1>

        <div class="interest__cards">
            <div class="interest__card">
                <div class="interest__media"><img src="assets/images/mod-anim-3d.jpg" alt="animation et modélisation 3d" /></div>
                <div class="interest__content text_card">
                    <h2 class="uppercase">
                        ANIMATION ET
                        <br />
                        MODÉLISATION 3D
                    </h2>
                    <span></span>
                </div>
            </div>
            <div class="interest__card">
                <div class="interest__media"><img src="assets/images/videogames.png" alt="video games" /></div>
                <div class="interest__content text_card">
                    <h2 class="uppercase">
                        JEUX VIDÉO,
                        <br />
                        MANGA, ANIME
                    </h2>
                    <span></span>
                </div>
            </div>
            <div class="interest__card">
                <div class="interest__media"><img src="assets/images/skatepic.jpg" alt="skate pic" /></div>
                <div class="interest__content text_card">
                    <h2 class="uppercase">
                        SKATEBOARD SEUL
                        <br />
                        OU AVEC MES AMIS
                    </h2>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="stage">
        <h1 class="display-light">STAGE RECHERCHÉ</h1>

        <div class="text_card">
            <span></span>
            <p>
                Je suis à la recherche d’un stage en
                <span class="p__bold">Animation</span>
                ou
                <span class="p__bold">Modélisation 3D</span>
                ainsi qu’en
                <span class="p__bold">design UI/UX</span>
                ou
                <span class="p__bold">production interactive</span>
                .
                <br />
                Je suis interessé
                <span class="p__bold">d’apprendre</span>
                de
                <span class="p__bold">nouvelles techniques</span>
                en liens avec la
                <span class="p__bold">Modélisation</span>
                et
                <span class="p__bold">l’Animation 3D</span>
                pour travailler de façon plus
                <span class="p__bold">efficace et rapide</span>
                .
            </p>
        </div>
    </div>
</section>

<!-- projets ------------------------------------------------------------------------------------- -->
<section class="projets section" id="projets">
    <div class="wrapper">
        <h1>
            <div class="cards">
                <div class="card">
                    <div class="card__content text_card">
                        <p class="uppercase">MODÉLISATION/ANIMATION 3D</p>
                        <h2 class="uppercase">ANIMATION 3D ROUTE VERS L’INFINI</h2>
                        <span></span>
                        <p>Projet de modélisation et animation 3D qui suit un chemin pour joindres d’autres projets vers l’infini.</p>
                        <div class="logiciels">
                            <svg class="icon icon--xl">
                                <use href="#icon-blender"></use>
                            </svg>
                            <svg class="icon icon--xl">
                                <use href="#icon-premier"></use>
                            </svg>
                            <svg class="icon icon--xl">
                                <use href="#icon-ae"></use>
                            </svg>
                        </div>
                        <div class="date">
                            <p class="uppercase">PROJET ÉTUDIANT</p>
                            <p class="uppercase">MAI-JUIN 2026</p>
                        </div>
                    </div>
                    <div class="card__media">
                        <img src="assets/images/projet1.jpg" alt="" />

                        <a href="#" class="button uppercase">Voir le projet</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card__content text_card">
                        <p class="uppercase">MODÉLISATION/TEXTURES 3D</p>
                        <h2 class="uppercase">MODÉLISATION 3D SONY DIGICAM</h2>
                        <span></span>
                        <p>Projet personnel de modélisation 3D et un peu d’animation de ma caméra Digicam SONY.</p>
                        <div class="logiciels">
                            <svg class="icon icon--xl">
                                <use href="#icon-blender"></use>
                            </svg>
                        </div>
                        <div class="date">
                            <p class="uppercase">PROJET PERSONNEL</p>
                            <p class="uppercase">JUILLET 2026</p>
                        </div>
                    </div>
                    <div class="card__media">
                        <img src="assets/images/projet2.jpg" alt="" />

                        <a href="#" class="button uppercase">Voir le projet</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card__content text_card">
                        <p class="uppercase">MODÉLISATION/ANIMATION 3D</p>
                        <h2 class="uppercase">ANIMATION 3D DE SPIDER-PUNK</h2>
                        <span></span>
                        <p>Projet de modélisation et animation 3D scénarisant Spider-Punk et une entré électrique!</p>
                        <div class="logiciels">
                            <svg class="icon icon--xl">
                                <use href="#icon-blender"></use>
                            </svg>
                            <svg class="icon icon--xl">
                                <use href="#icon-ae"></use>
                            </svg>
                        </div>
                        <div class="date">
                            <p class="uppercase">PROJET PERSONNEL</p>
                            <p class="uppercase">JUILLET 2026</p>
                        </div>
                    </div>
                    <div class="card__media">
                        <img src="assets/images/projet3.jpg" alt="" />

                        <a href="#" class="button uppercase">Voir le projet</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card__content text_card">
                        <p class="uppercase">CRÉATION DE JEU/MODÉLISATION 3D</p>
                        <h2 class="uppercase">JEU INTERACTIF 1D PIXELHERO</h2>
                        <span></span>
                        <p>Projet de programmation d’un jeu de rythme avec une bande DEL pour donner un effet 1D.</p>
                        <div class="logiciels">
                            <svg class="icon icon--xl">
                                <use href="#icon-blender"></use>
                            </svg>
                            <svg class="icon icon--xl">
                                <use href="#icon-touch"></use>
                            </svg>
                        </div>
                        <div class="date">
                            <p class="uppercase">PROJET ÉTUDIANT</p>
                            <p class="uppercase">AVRIL 2026</p>
                        </div>
                    </div>
                    <div class="card__media">
                        <img src="assets/images/palceholder.jpg" alt="" />

                        <a href="#" class="button uppercase">Voir le projet</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card__content text_card">
                        <p class="uppercase">DESIGN/MODÉLISATION 3D</p>
                        <h2 class="uppercase">DESIGN UI/UX D’UN MENU DE JEU</h2>
                        <span></span>
                        <p>Projet de design d’un menu de jeux vidéo en fonction de personas avec une touche de 3D.</p>
                        <div class="logiciels">
                            <svg class="icon icon--xl">
                                <use href="#icon-blender"></use>
                            </svg>
                            <svg class="icon icon--xl">
                                <use href="#icon-figma"></use>
                            </svg>
                        </div>
                        <div class="date">
                            <p class="uppercase">PROJET ÉTUDIANT</p>
                            <p class="uppercase">MARS 2026</p>
                        </div>
                    </div>
                    <div class="card__media">
                        <img src="assets/images/palceholder.jpg" alt="" />

                        <a href="#" class="button uppercase">Voir le projet</a>
                    </div>
                </div>
            </div>
        </h1>
    </div>
</section>

{% include '_partials/_footer.html' %}
